<h1>This is index</h1>

<form action="/login" method="post">
    <h1>Login</h1>
    <label for="username">Username</label>
    <input type="text" name="username" id="l-username">

    <label for="password">Password</label>
    <input type="password" name="password" id="l-password">

    <button type="submit">Login</button>
</form>

<form action="/register" method="post">
    <h1>Register</h1>
    <label for="username">Username</label>
    <input type="text" name="username" id="r-username">

    <label for="password">Password</label>
    <input type="password" name="password" id="r-password">

    <label for="email">E-mail</label>
    <input type="email" name="email" id="r-email">

    <button type="submit">Register</button>
</form>