<article class="section center">
    <h1 class="e-text e-text--center">Simple CMS</h1>
    <h2 class="e-text e-text--center">By <a href="https://github.com/SanaRinomi">Sana Rinomi</a></h2>
</article>

<article class="section">
    <header>
        <h3>All Posts</h3>
    </header>
    {{> listing}}
</article>