<div class="l-header--left l-header--list">
    <a href="/" class="normal">Home</a>
    <a href="/category" class="normal">Categories</a>
    <a href="/posts" class="normal">Posts</a>
</div>

<div class="l-header--right l-header--list">
    {{#if user}}
    {{#if user.is_admin}}<a href="/admin" class="normal">Admin Panel</a>{{/if}}
    <a href="/me" class="normal">Profile</a>
    <a href="/logout" class="normal">Logout</a>
    {{else}}
    <a href="/login" class="normal">Login</a>
    <a href="/register" class="normal">Register</a>
    {{/if}}
</div>