<a href="/" class="left" >
    <img class="icon" src="/img/dotter-logo.png" alt="">
</a>
<a href="https://dotter.sana.codes/local/auth/discord" class="right e-button e-button--highlight e-button--large">Login</a>