<article id="post-details">
    <h3>Category Details</h3>
    <table>
        <colgroup>
            <col style="font-weight: bold;">
            <col span="2">
        </colgroup>
        <tr>
            <th>Property</th>
            <th>Value</th>
        </tr>
        <tr>
            <td>ID</td>
            <td>{{post.id}}</td>
        </tr>
        <tr>
            <td>Title</td>
            <td class="editable-property" type="text" value="{{post.name}}" name="name"></td>
        </tr>
        <tr>
            <td>Slug</td>
            <td>{{post.slug}}</td>
        </tr>
        <tr>
            <td>Description</td>
            <td class="editable-property" type="textbox" value="{{post.description}}"  name="description"></td>
        </tr>
        <tr>
    </table>
</article>

<h3>Category Delete</h3>
<button id="button-delete">Delete</button>