<h1>You're Admin</h1>

<form action="/admin/posts" method="post">
    <title>New Post</title>
    <h2>New Post</h2>
    <label for="slug">Post Slug</label>
    <input type="text" name="slug" id="new-slug">
    <label for="title">Post Title</label>
    <input type="text" name="title" id="new-title">

    <button type="submit">Submit</button>
</form>