<form action="/upload" method="post" id="form" enctype="multipart/form-data">
    <input type="file" name="media">
    <button type="submit" id="submit">Submit</button>
</form>

<button id="add">Add field</button>